
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.book-now-kEj {
  width: 110%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
.book-now-kEj .signup-HEf {
  width: 100rem;
  height: 69.3rem;
  position: absolute;
  left: 22rem;
  top: 16.5rem;
  border: solid 0.4rem #ff9900;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.book-now-kEj .book-z95 {
  width: 29.8rem;
  height: 9rem;
  position: absolute;
  left: 26.2rem;
  top: 19.2rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.book-now-kEj .eve-1-VrX {
  width: 87.6rem;
  height: 12.7rem;
  position: absolute;
  left: 28.2rem;
  top: 33.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.200000003);
  border-radius: 2.5rem;
}
.book-now-kEj .eve-2-CF9 {
  width: 87.6rem;
  height: 12.7rem;
  position: absolute;
  left: 28.2rem;
  top: 48.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.200000003);
  border-radius: 2.5rem;
}
.book-now-kEj .eve-3-Wmd {
  width: 87.6rem;
  height: 12.7rem;
  position: absolute;
  left: 28.2rem;
  top: 64.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.200000003);
  border-radius: 2.5rem;
}
